{% extends "base.html" %}

{%- block seo %}
    <title>Profile | {{ web_conf.site_name }}</title>
    <meta name="description"
          content="The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."/>
{% endblock -%}

{%- block css %}
    {% assets filters="cssmin", output="css/app-favorite.css", "css/fonts.css", "css/bootstrap.min.css", "css/fa.min.css", "css/qtip.css", "css/style.css", "css/custom.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
{% endblock -%}

{% block body %}
<div id="main" class="page-detail">
    <div class="container">
        <div class="pad"></div>
        <div class="main-content main-detail">
            <div id="bread">
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('page_home') }}">Home</a></li>
                    <li>User</li>
                    <li class="active">My movies</li>
                </ol>
            </div>
            <div class="profiles-wrap">
                <div class="sidebar">
                    <div class="sidebar-menu">
                        <div class="sb-title"><i class="fa fa-navicon mr5"></i> Menu</div>
                        <ul>
                            <li>
                                <a href="{{ url_for('user_profile') }}">
                                    <i class="fa fa-user mr5"></i> Profile
                                </a>
                            </li>
                            <li class="active">
                                <a href="{{ url_for('user_favorite') }}">
                                    <i class="fa fa-heart mr5"></i> My movies
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-bell mr5"> </i> Notifications <span class="badge">0</span>
                                </a>
                            </li>
                            <li><a href="#"><i class="fa fa-mobile mr5"></i> Apps</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pp-main">
                    <div class="ppm-head">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="{{ url_for('user_favorite') }}">
                                    <i class="fa fa-bookmark mr5"></i> Favourites
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star mr5"></i> Rated
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ppm-content">
                        {% if items %}
                        <div class="movies-list-wrap mlw-profiles">
                            <div class="movies-list movies-list-full">
                                {% for item in items %}
                                <div class="ml-item">
                                    <a href="{{ url_for('film_page', slug=item['slug']) }}" class="jt"
                                       title="{{ item['title'] }}">
                                        {% if item['type'] == 'series' %}
                                            <span class="mli-eps">Eps<i>{{ item['episode'] }}</i></span>
                                        {% elif item['type'] == 'movies' %}
                                            <span class="mli-quality">{{ item['quality'] }}</span>
                                        {% endif %}
                                        <img data-src="https://{{ web_conf['imgcdn'] }}/p-max/200/{{ item['slug'] }}.jpg"
                                             class="lazy thumb mli-thumb" alt="{{ item['title'] }}">
                                        <div class="mli-info">
                                            <h2>{{ item['title'] }}</h2>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                                <div class="clearfix"></div>
                                <div id="pagination">
                                    <nav>
                                        <ul class="pagination">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jslink %}
    {% assets filters="jsmin", output="js/app-favorite.js", "js/jquery.min.js", "js/bootstrap.min.js", "js/scroll.js", "js/lazyload.js", "js/cookie.js", "js/qtip.js", "js/main.js" %}
     <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}